:host {
  --width: 192px; // default value - 10% of FullHD width
  --position-x: 0;
  --position-y: 0;
}

.bird {
  position: fixed;
  left: var(--position-x);
  top: var(--position-y);
  z-index: 2000;

  img {
    width: var(--width);
  }
}
